body{
    background-color: black;
}

.container{
    height: 100vh;
    background-color: rgb(184, 181, 189);
    padding: 0;
}

header{
    color: white;
    text-align: center;
    background-color: rgb(74, 60, 99);
}